

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(background.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100px;
	background-color: white;	

}

.flag {
	position: absolute;	
	top: 20px;
	left: 40px;
}

.headertype {
	position: absolute;
	top: 22px;
	left: 200px;

	font-family: abolition, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: rgb(20, 60, 150);
	font-size: 50px;

}

.home {
	position: absolute;
	top: 43px;
	left: 60vw;

	font-family: abolition, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: rgb(20, 60, 150);
	font-size: 20px;

}

.super{
	position: absolute;
	top: 43px;
	left: 65vw;

	font-family: abolition, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: rgb(20, 60, 150);
	font-size: 20px;

}

.sports{
	position: absolute;
	top: 43px;
	left: 70vw;

	font-family: abolition, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: rgb(20, 60, 150);
	font-size: 20px;

}

.muscle{
	position: absolute;
	top: 43px;
	left: 76vw;

	font-family: abolition, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: rgb(20, 60, 150);
	font-size: 20px;

}



.pickups{
	position: absolute;
	top: 43px;
	left: 82vw;

	font-family: abolition, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: rgb(20, 60, 150);
	font-size: 20px;

}

.home {
  transition: all 0.25s ease-in-out;
}
.super {
  transition: all 0.25s ease-in-out;
}
.sports {
  transition: all 0.25s ease-in-out;
}
.muscle {
  transition: all 0.25s ease-in-out;
}
.pickups {
  transition: all 0.25s ease-in-out;
}
.home:hover{
	color: rgb(230, 70, 30);
}
.super:hover{
	color: rgb(230, 70, 30);
}
.sports:hover{
	color: rgb(230, 70, 30);
}
.muscle:hover{
	color: rgb(230, 70, 30);
}
.pickups:hover{
	color: rgb(230, 70, 30);
}

.box1 {
	position: absolute;
	top: 120px;
	width: 45vw;
	height: 550px;
	background-color: white;
	
	margin-left: 10px;

	border-radius: 2%;
}

.pa {
	font-family: 'Lato', sans-serif;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 20px;
	line-height: 27px;
	color: rgb(20, 60, 150);
}



/*---------------------------------*/

.su1 {
  transition: all 0.25s ease-in-out;
}

.su1 img {
  transition: all 0.25s ease-in-out;
}


.su {
	top: 100px;
	position: relative;
	margin-top: 50px;
	margin-left: 15px;
	width: 235px;
	height: 185px;
	background-color: white;
	border-radius: 10px;
	display: inline-block;
	
}

.su1{

	text-align: center;
	top: 5px;
	left: 0px;
	position: relative;
	font-family: abolition, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: rgb(20, 60, 150);
	font-size: 30px;
	
}

.su1 img{
	top: 10px;
	width: 225px;
	position: relative;
	border-radius: 10px;
}


.su1 img:hover{
	opacity: 65%;
}

.su1:hover{
	color: rgb(230, 70, 30);
}


/*---------------------------------*/

.hp1 {
  transition: all 0.25s ease-in-out;
}

.hp1 img {
  transition: all 0.25s ease-in-out;
}


.hp {
	top: 100px;
	position: relative;
	margin-top: 50px;
	margin-left: 1.4vw;
	width: 235px;
	height: 500px;
	background-color: white;
	border-radius: 10px;
	display: inline-block;
	
}



.hp1{

	text-align: center;
	top: 5px;
	left: 0px;
	position: relative;
	font-family: abolition, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: rgb(20, 60, 150);
	font-size: 30px;
}

.hp1 img:hover{
	opacity: 50%;
}

.hp1:hover{
	color: rgb(230, 70, 30);
}

.hp1 img{
	top: 10px;
	width: 225px;
	position: relative;
	border-radius: 10px;
}


/*---------------------------------*/


.sennajpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.r8jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.f599xxjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.gtrjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.huayrajpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.aventadorjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.p911jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.corvettejpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.rtrjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.skylinejpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.supersportjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.dartjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.hellcatjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.rtjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.vicjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.viperjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.f365jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.m570jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.caymanjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.m3jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.rx7jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.rx8jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.daytonajpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.gt40jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.m6x6jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.broncojpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.raptorjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.rangerjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.f100jpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.jimmyjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.powerwagonjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}
.prerunnerjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.sestoheadlightjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.p911headlightjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.rtrheadlightjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}

.f150lightjpg img{
	top: 120px;
	position: absolute;
	border: 5px solid white;
	border-radius: 10px;
	width: 50vw;
	margin-left: 47vw;
}