body.alarm{
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
}



.boxmid.alarm{
  animation-name: blink2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
}

.box2.alarm{
  animation-name: blink2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
}

.vertical-s{
  position: absolute;
  width: 2px;
  height: 2000px;
  left: 600px;
  top: 0px;
  background-color: black;
  animation-name: vertical-s;

  animation-duration: 7.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;  

}

.horizontal-s{
  position: absolute;
  width: 2000px;
  height: 2px;
  left: 0px;
  top: 350px;
  background-color: black;

  animation-name: horizontal-s;

  animation-duration: 7.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;  

}

.vertical-m{
  position: absolute;
  width: 2px;
  height: 2000px;
  left: 600px;
  top: 0px;
  background-color: black;
  animation-name: vertical-m;

  animation-duration: 22.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;  

}

.horizontal-m{
  position: absolute;
  width: 2000px;
  height: 2px;
  left: 0px;
  top: 350px;
  background-color: black;

  animation-name: horizontal-m;

  animation-duration: 22.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;  

}

.boxmid{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  animation-name: boxmid;
  animation-duration: 22.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;  
  animation-fill-mode: forwards;
  }

.box2{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  animation-name: box2;
  animation-duration: 7.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;  
  animation-fill-mode: forwards;
  }

  .box3.alarm{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  animation-name: box3;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
  animation-fill-mode: forwards;
  }

  .box3.alarm:after{
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border: 5px solid black;

  }
@keyframes vertical-s {
  0% {

  left: 600px;

  }
  10% {

  left: 700px;

  }
  20% {

  left: 300px;

  }
  30% {

  left: 1150px;

  }
  40% {

  left: 300px;

  }
  50% {

  left: 600px;

  }

  60% {

  left: 800px;

  }
  70% {

  left: 600px;

  }
  80% {

  left: 700px;

  }
  90% {

  left: 450px;

  }

  100% {

  left: 600px;

  }

}

@keyframes horizontal-s {
  0% {

  top: 350px;

  }
  10% {

  top: 300px;

  }
  20% {

  top: 200px;

  }
  30% {

  top: 650px;

  }
  40% {

  top: 200px;

  }
  50% {

  top: 350px;

  }
  60% {

  top: 120px;

  }
  70% {

  top: 310px;

  }
  80% {

  top: 200px;

  }
  90% {

  top: 650px;

  }
  100% {

  top: 350px;

  }

}


@keyframes vertical-m {
  0% {

  left: 600px;

  }
  10% {

  left: 320px;

  }
  20% {

  left: 700px;

  }
  30% {

  left: 475px;

  }
  40% {

  left: 1000px;

  }
  50% {

  left: 200px;

  }

  60% {

  left: 350px;

  }
  70% {

  left: 300px;

  }
  80% {

  left: 700px;

  }
  90% {

  left: 850px;

  }
  100% {

  left: 600px;

  }

}

@keyframes horizontal-m {
  0% {

  top: 520px;

  }
  10% {

  top: 450px;

  }
  20% {

  top: 630px;

  }
  30% {

  top: 650px;

  }
  40% {

  top: 210px;

  }
  50% {

  top: 370px;

  }
  60% {

  top: 490px;

  }
  70% {

  top: 330px;

  }
  80% {

  top: 200px;

  }
  90% {

  top: 650px;

  }
  100% {

  top: 350px;

  }
}

@keyframes boxmid {
  0% {
  left: 600px;
  top: 520px;

  }
  5% {

left: 320px;
top: 450px;

  }
  15% {

left: 700px;
top: 630px;

  }
  25% {

left: 475px;
top: 650px;
  }
  35% {

left: 1000px;
top: 210px;
  }
  45% {

left: 200px;
top: 370px;
  }

  55% {
left: 350px;
top: 490px;

  }
  65% {

left: 300px;
top: 330px;

  }
  75% {

left: 700px;
top: 200px;

  }
  85% {
  left: 850px;
  top: 650px;

  }

  95% {

  left: 590px;
  top: 340px;
  }

  100% {

  left: 590px;
  top: 340px;
  }

}

@keyframes box2 {
  0% {
left: 590px;
top: 340px;

  }
  5% {

left: 700px;
top: 300px;

  }
  15% {

left: 300px;
top: 200px;

  }
  25% {

left: 1150px;
top: 650px;

  }
  35% {

left: 300px;
top: 200px;
  }
  45% {

left: 600px;
top: 350px;
  }

  55% {
left: 800px;
top: 120px;

  }
  65% {

left: 600px;
top: 310px;

  }
  75% {

left: 700px;
top: 200px;

  }
  85% {
left: 450px;
top: 650px;

  }

  95% {

left: 590px;
top: 340px;
  }

  100% {

left: 590px;
top: 340px;
  }
}



@keyframes blink {
  0% {

  background-color: rgb(255, 0, 0);

  }
  100%{
    background-color: rgb(255, 150, 150);
  }

}

@keyframes blink2 {
  0% {

left: 590px;
top: 340px;
  background-color: rgb(0, 0, 0);

  }
  100%{
    left: 590px;
top: 340px;
    background-color: rgb(70, 70, 70);
  }

}

@keyframes box3 {
  0% {

   left: 590px;
    top: 340px;
    height: 25px;
    width: 25px;
    outline: 5px;
    outline-color: black;
    

  }
  50%{
    left: 575px;
    top: 325px;
    height: 55px;
    width: 55px;
    outline: 5px;
    outline-color: black;
    
  }
  100% {

    left: 590px;
    top: 340px;
    height: 25px;
    width: 25px;
    outline: 5px;
    outline-color: black;
    

  }
}
